@page "/Capitulo/Contenido/{Id:int}"

@using ACC.WebApp.Client.Services;
@using ACC.Shared.DTOs;

@inject BibliotecaService bibliotecaService

@rendermode InteractiveServer

@if (Capitulo is null)
{
    <p>Cargando contenido...</p>
}
else
{
    <div class="contenido-capitulo @(modoLecturaActivo ? "modo-lectura-activa" : "")">
        <button class="modo-lectura-btn" @onclick="ActivarLectura">🕮 Modo lectura</button>
        @((MarkupString)Capitulo.HtmlBody)
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    private ContenidoCapituloDto? Capitulo;

    protected override async Task OnInitializedAsync()
    {
        await ObtenerDatosAsync();
    }

    private async Task ObtenerDatosAsync()
    {
        var resultado = await bibliotecaService.ObtenerCapituloAsync(Id);
        Capitulo = resultado.Data;
    }

    private bool modoLecturaActivo = false;

    private void ActivarLectura()
    {
        modoLecturaActivo = !modoLecturaActivo;
    }
}
