@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using ACC.WebApp.Data; 

@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length == 0)
{
    <div>
        <p>
            No hay servicios de autenticación externa configurados. Consulte este
                <a href="https://go.microsoft.com/fwlink/?LinkID=532715">artículo
                sobre cómo configurar esta aplicación ASP.NET para admitir inicios de sesión mediante servicios externos</a>.
        </p>
    </div>
}
else
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <div>
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <p>
                @foreach (var provider in externalLogins)
                {
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                        title="Iniciar sesión usando tu cuenta de @provider.DisplayName">@provider.DisplayName</button>
                }
            </p>
        </div>
    </form>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
