@using Microsoft.AspNetCore.Identity
@using ACC.WebApp.Data;

@inject SignInManager<ApplicationUser> SignInManager

<nav class="biblioteca-nav-tabs-container">
    <div class="biblioteca-nav-tabs">
        <NavLink class="biblioteca-nav-tab" href="Account/Manage" Match="NavLinkMatch.All">
            <span class="biblioteca-nav-tab-icon"><i class="fas fa-user"></i></span>
            <span class="biblioteca-nav-tab-label">Perfil</span>
        </NavLink>
        <NavLink class="biblioteca-nav-tab" href="Account/Manage/Email">
            <span class="biblioteca-nav-tab-icon"><i class="fas fa-envelope"></i></span>
            <span class="biblioteca-nav-tab-label">Correo</span>
        </NavLink>
        <NavLink class="biblioteca-nav-tab" href="Account/Manage/ChangePassword">
            <span class="biblioteca-nav-tab-icon"><i class="fas fa-key"></i></span>
            <span class="biblioteca-nav-tab-label">Cambiar Contraseña</span>
        </NavLink>
        @if (hasExternalLogins)
        {
            <NavLink class="biblioteca-nav-tab" href="Account/Manage/ExternalLogins">
                <span class="biblioteca-nav-tab-icon"><i class="fas fa-external-link-alt"></i></span>
                <span class="biblioteca-nav-tab-label">Inicios de Sesión Externos</span>
            </NavLink>
        }
        <NavLink class="biblioteca-nav-tab" href="Account/Manage/TwoFactorAuthentication">
            <span class="biblioteca-nav-tab-icon"><i class="fas fa-shield-alt"></i></span>
            <span class="biblioteca-nav-tab-label">Autenticación de Dos Factores</span>
        </NavLink>
        <NavLink class="biblioteca-nav-tab" href="Account/Manage/PersonalData">
            <span class="biblioteca-nav-tab-icon"><i class="fas fa-id-card"></i></span>
            <span class="biblioteca-nav-tab-label">Datos Personales</span>
        </NavLink>
        <NavLink class="biblioteca-nav-tab" href="Account/rol/Verificar">
            <span class="biblioteca-nav-tab-icon"><i class="fas fa-user-tag"></i></span>
            <span class="biblioteca-nav-tab-label">Asignar Roles</span>
        </NavLink>
    </div>
</nav>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}