SQL_PASSWORD=1234Abcd.
JWT_ISSUER=ACC.API
JWT_AUDIENCE=ACC.Client
JWT_KEY=CHANGE-THIS-TO-A-STRONG-32-CHARACTER-SECRET
WEBAPP_HTTP_PORT=8080
DB_SQL_USER=sa
DB_IDENTITY_HOST=10.0.0.20
DB_IDENTITY_PORT=1434
DB_ACADEMIC_HOST=10.0.0.20
DB_ACADEMIC_PORT=1435
