<!DOCTYPE html>
    <html lang="es">

    <head>
        <!--Metadatos-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--Nombre de la pagina-->
        <title>ACC</title>

        <!--Pagina base de la aplicacion web-->
        <base href="/" />

        <!--Estilos globales de la aplicacion web-->
        <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="AccStyles_global.css" />
        <link rel="stylesheet" href="AccStyles_biblioteca.css" />
        <link rel="stylesheet" href="AccStyles_cuentas.css" />
        <link rel="stylesheet" href="AccStyles_aulas_docentes.css" />
        <link rel="stylesheet" href="AccStyles_capitulos.css" />
        <link rel="styleshhet" href="AccStyles_lecciones"/>

        <!--CSS de codeMirror-->
        <link rel="stylesheet" href="JS/CodeMirror/codemirror.min.css" />
        <link rel="stylesheet" href="JS/CodeMirror/dracula.min.css" />
        <link rel="stylesheet" href="JS/CodeMirror/eclipse.min.css" />
        <link rel="stylesheet" href="JS/CodeMirror/monokai.min.css" />

        @*<script src="https://kit.fontawesome.com/01209f3ecf.js" crossorigin="anonymous"></script>*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <!--Icono de la pagina-->
        <link rel="icon" type="image/png" href="ACC_icono.webp" />

        <!--Librerias de CodeMirror-->
        <!-- CodeMirror CSS -->
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/dracula.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/monokai.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/eclipse.min.css" />*@

        @*<link rel="stylesheet" href="JS/CodeMirror/codemirror.min.css" />
        <link rel="stylesheet" href="JS/CodeMirror/dracula.min.css" />
        <link rel="stylesheet" href="JS/CodeMirror/eclipse.min.css" />
        <link rel="stylesheet" href="JS/CodeMirror/monokai.min.css" />*@

        <!--C:\Users\unesp\OneDrive\Desktop\ACC-Complex\ACC.WebApp\ACC.WebApp\wwwroot\JS\CodeMirror\dracula.min.css-->
        <!-- CodeMirror JS -->
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js" defer></script>*@

        @*<script src="JS/CodeMirror/clike.min.js"></script>
        <script src="JS/CodeMirror/codemirror.min.js" defer></script>*@
        <HeadOutlet />
    </head>

    <body>
        <Routes />
        <!--scrits de grafica para el resumen -->
        <script src="JS/docentes.js"></script>
        <!-- Script para el arranque de codemirror -->
        <script src="JS/CodeMirror/CodeMirrorInit.js"></script>
        <script src="JS/CodeMirror/codemirror.min.js"></script>
        <script src="JS/CodeMirror/clike.min.js"></script>

        <!-- Scripts para la inteligencia artificial Charp -->
        <script>
            window.embeddedChatbotConfig = {
                chatbotId: "E4W-vGLpQvQJlyQ4WIk7m",
                domain: "www.chatbase.co"
            };
        </script>
        <!-- Chart.js UMD expone window.Chart -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js" defer></script>
        <!-- Tu helper -->
        <script src="JS/ResumenChart.js" defer></script>
        <!-- Script de blazor wasm, debe ir al final -->
        <script src="_framework/blazor.web.js"></script>
    </body>

    </html>