@rendermode InteractiveServer
@using ACC.WebApp.Client.Services
@using ACC.Shared.DTOs

@code
{
    [Parameter] public ExamenSubModuloDto Examen { get; set; } = default!;
    // en un futuro la tarjeta de resultados, example: <ExamenResultados Examen="@examen" />
    // en un futuro mas componentes distintos como en LeccionCompleta
}

<div class="examen-container">
    @((MarkupString)Examen.ContenidoHtml)
</div>