@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Confirmación de Recuperación de Contraseña</h1>
<p>
    Por favor, revisa tu correo electrónico para restablecer tu contraseña.
</p>
