@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<h1>Restablecimiento de Contraseña Inválido</h1>
<p>
    El enlace para restablecer la contraseña no es válido.
</p>
