@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Confirmación de Restablecimiento de Contraseña</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor, <a href="Account/Login">haz clic aquí para iniciar sesión</a>.
</p>
