@*ContenidoCapitulo.razor*@
@page "/Capitulo/Contenido/{Id:int}"
@rendermode InteractiveServer

@using ACC.WebApp.Client.Services
@using ACC.Shared.DTOs

@inject BibliotecaClientService bibliotecaService

@if (Contenido is null)
{
    <p>Cargando contenido...</p>
}
else
{
    <div class="contenido-capitulo @(modoLecturaActivo ? "modo-lectura-activa" : "")">
        <button class="modo-lectura-btn" @onclick="ActivarLectura">🕮 Modo lectura</button>
        @((MarkupString)Contenido.HtmlBody)
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    private ContenidoCapituloDto? Contenido;

    protected override async Task OnInitializedAsync()
        => await ObtenerDatosAsync();

    private async Task ObtenerDatosAsync()
    {
        var result = await bibliotecaService.ObtenerCapitulosAsync();

        if (!result.Success || result.Data is null)
        {
            Contenido = null;
            return;
        }

        Contenido = result.Data
            .SelectMany(c => c.Contenidos)
            .FirstOrDefault(x => x.IdContenido == Id);
    }

    private bool modoLecturaActivo = false;

    private void ActivarLectura()
        => modoLecturaActivo = !modoLecturaActivo;
}
