@page "/leccion/{Id:int}"

@rendermode InteractiveServer
@using ACC.WebApp.Client.Services
@using ACC.Shared.DTOs
@using ACC.Shared.Core
@inject NavegacionContenidoClient Navegacion

@code {
    [Parameter] public int Id { get; set; }
    private ServiceResult<LeccionDto>? leccionResult;

    protected override async Task OnParametersSetAsync()
    {
        leccionResult = await Navegacion.ObtenerLeccionAsync(Id);
    }
}

@if (leccionResult == null)
{
    <p>Cargando leccion...</p>
}
else if (!leccionResult.Success)
{
    <p>Error al cargar la leccion: @leccionResult.Message</p>
}
else if (leccionResult.Data == null)
{
    <p>No se encontro la leccion solicitada.</p>
}
else
{
    // Renderizador Dinamico de Lecciones => RDL
    <RDL Leccion="@leccionResult.Data"/>
}
