<div class="resumen-interes card">
    <h2>Esto podría interesarte</h2>

    <div class="interes-buttons">
        <button class="interest-btn">
            <i class="fas fa-code"></i> Tutoriales de C#
        </button>
        <button class="interest-btn">
            <i class="fas fa-brain"></i> Conceptos de lógica de programación
        </button>
        <button class="interest-btn">
            <i class="fas fa-cubes"></i> Principios SOLID
        </button>
        <button class="interest-btn">
            <i class="fas fa-pencil-ruler"></i> Buenas prácticas de diseño
        </button>
        <button class="interest-btn">
            <i class="fas fa-bug"></i> Debugging y optimización
        </button>
    </div>
</div>
