@rendermode InteractiveServer
<div class="resumen-progreso card">
    <h2>Progreso General</h2>

    <div class="progress-bar-container">
        <div class="progress-bar-fill" style="width: @ProgresoGeneral%;"></div>
    </div>

    <p>@ProgresoGeneral% completado del módulo actual</p>
</div>

@code {
    [Parameter] public decimal ProgresoGeneral { get; set; }
}
