/* --- Estilos para GuiaNavegador --- */
.card {
    background-color: var(--biblioteca-secondary-dark) /*var(--biblioteca-primary-dark);*/;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 24px rgba(20, 20, 40, 0.1);
    color: var(--biblioteca-text-white);
    margin: 32px auto;
    border: none; 
}

.modulo-card-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--biblioteca-primary-purple);
    margin-bottom: 22px;
    letter-spacing: 0.01em;
    font-family: Nunito, Arial, sans-serif;
}

.modulo-card-desc {
    color: var(--biblioteca-text-white);
    font-size: 1.1rem;
    padding: 18px 0;
}

.guia-navegador-container {
    background-color: var(--biblioteca-primary-dark) /*var(--biblioteca-secondary-dark)*/;
    /*border: 1px solid var(--biblioteca-border-color);*/
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Nunito', sans-serif;
    color: var(--biblioteca-text-gray);
    max-width: 1100px;
    margin: 32px auto;
    border: 1px solid var(--biblioteca-border-color); 
}

.guia-navegador-title {
    color: var(--biblioteca-text-white);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 18px;
}

p{
    font-size:1.2rem; 
}

.guia-navegador-loading {
    color: var(--biblioteca-text-gray);
    font-size: 0.95rem;
    text-align: center;
    padding: 20px 0;
}

/*.guia-navegador-btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
}
*/
.guia-navegador-btn {
    padding: 0.5rem;
    background-color: var(--biblioteca-secondary-purple);
}

    .guia-navegador-btn:hover {
        background-color: var(--biblioteca-hover-dark);
        color: var(--biblioteca-text-white);
    }

    .guia-navegador-btn.selected {
        background-color: var(--biblioteca-primary-purple);
        color: var(--biblioteca-text-white);
        border-color: var(--biblioteca-primary-purple);
    }

h3 {
    font-family: 'Nunito', sans-serif;
}